:root {
    --bg-color: rgb(37, 34, 34);
    --text-font: "Bungee", sans-serif;
    --text-fonttwo: "Markazi Text", serif;
    font-weight: normal;
    --text-color: #fffafa;
    /* --gradient-color: linear-gradient(to bottom, #36454F, #EDEADE); */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(20, 20, 20, 1) 0%, rgba(64, 64, 61, 1) 100%);
    background-attachment: fixed;
    font-family: var(--text-font);
    min-height: 100dvh;
}

.hero_section {
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
    padding-top: 3vh;
}

.upload_button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--text-color);
    margin-bottom: 10vh;
    font-size: 3rem;
    min-height: 30vh;
    min-width: 50vh;
    background: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(64, 64, 61, 1) 100%, rgba(20, 20, 20, 1) 0%);
    border: 2px solid white;
    border-radius: 20px;
    text-decoration: none;
    -webkit-text-stroke: 2px black;
    transition: 1.2s;
}

.upload_button:hover {
    transform: scale(1.2);
}

/* Hide the default file input but keep it accessible for validation */
#file-upload {
    opacity: 0;
    width: 0.1px;
    height: 0.1px;
    position: absolute;
    z-index: -1;
}