:root {
    --bg-color: rgb(37, 34, 34);
    --text-font: "Bungee", sans-serif;
    --text-fonttwo: "Markazi Text", serif;
    font-weight: normal;
    --text-color: #fffafa;
    --gradient-color: linear-gradient(to bottom, #36454F, #EDEADE);
    --gradient-colortwo: linear-gradient(to bottom, #22311d, #4a6741)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background: var(--gradient-colortwo);
    background-attachment: fixed;
    font-family: var(--text-font);
    min-height: 100dvh;
}

.hero_section {
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* Centers horizontally */
    align-items: center;
    /* centers vertically */
    min-height: 100dvh;
    /* use dvh instead of vh for better mobile viewing*/
    padding-top: 3vh;
}

.header {
    margin-top: 5vh;
    margin-bottom: 7vh;
    font-size: clamp(1rem, 8vw, 5rem);
    background: linear-gradient(to top, #C2B6B6, #F9F6EE);
    -webkit-background-clip: text;
    background-clip: text;
    /* must use -webkit and the other two to make a text gradient */
    color: transparent;
    -webkit-text-stroke: 2px black;
}


.project_cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    width: 90%;
    max-width: 1200px;
}

.project_card {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 250px;
    background-color: #fffafa;
    border: 6px solid black;
    border-radius: 20px;
    text-decoration: none;
    color: green;
    -webkit-text-stroke: 2px black;
    transition: 1.2s;

}

.project_card:hover {
    transform: scale(1.1)
}

.card1 {
    background-image: url(images/GetBigManImage.png);
    background-position: center center;
    background-size: cover;

}

.card1:hover {
    background-image: url(images/GetBigManGif.gif);
}


.card2 {
    background-image: url(images/Mp4.png);
    background-size: cover;
}

.card3 {}

.descriptions {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    width: 90%;
    max-width: 1200px;
    margin-top: 2vh;
    margin-bottom: 5vh;
    text-align: center;
    font-family: var(--text-fonttwo);

}

.desc1 {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
    border-radius: 10px;
    padding: 0.3rem 1rem;
    width: 100%;
    line-height: 2;
    font-size: 1.2rem;
}

.desc2 {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
    border-radius: 10px;
    padding: 0.3rem 1rem;
    width: 100%;
    line-height: 2;
    font-size: 1.2rem;
}

.desc3 {
    border: 4px solid black;
}

iframe {
    width: 100%;
    max-width: 980px;
    max-height: 100vh;
    aspect-ratio: 980 / 640;
    height: auto;

    /* all this just makes the embedded game work properly */
}

.getBigMan {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

@media (max-width: 600px) {
    .header {
        margin-bottom: 5vh;
    }
}

@media (max-height: 800px) {
    .getBigMan {
        padding: 1rem;
    }
}