:root {
    --bg-color: rgb(37, 34, 34);
    --text-font: "Bungee", sans-serif;
    font-weight: normal;
    --text-color: #fffafa;
    --gradient-color: linear-gradient(to bottom, #36454F, #EDEADE)
}

body {
    background: var(--gradient-color);
    background-attachment: fixed;
    font-family: var(--text-font);
    min-height: 100 dvh;
}


.hero_section {
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Centers horizontally */
    align-items: center;
    /* centers vertically */
}

.name_header {
    margin-bottom: 100px;
    font-size: 4rem;
    background: linear-gradient(to top, #C2B6B6, #F9F6EE);
    -webkit-background-clip: text;
    background-clip: text;
    /* must use -webkit and the other two to make a text gradient */
    color: transparent;
}

/* .name_header:hover {
    transform: scale(1.2);
} */

footer {
    display: flex;
    padding: 30px;

    margin-right: auto;
}

.project_cards {
    display: grid;
    grid-template-columns: repeat(3, 400px);
    gap: 8rem;
    justify-content: center;
    margin-bottom: 300px;

}

.project_card {
    border: 4px solid rgba(255, 255, 255, 0.1);
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 1rem 1.5rem;
    width: 350px;
    height: 200px;
    transition: .5s;
}

.project_card:hover {
    transform: scale(1.15)
}

.project_card:active {
    background: grey;
    transform: translateY(4px);
}

.card1 {
    font-size: 1.5rem;
    color: black;
    font-family: "Bungee", sans-serif;
}



.linkedInLogo {}